@charset "UTF-8";

/* Imagem Principal */
div#face {
    background-color: rgba(211, 211, 211, 0.423);
    padding-top: 10px;
}

div#face {
    padding: 20px;
}

div#face img, div#face picture {
    display: block;
    margin: auto;
    max-width: 100%;
}

@media (max-width: 501px) {
    div#face img {
        padding-top: 30px;
    }
}


/*  
padding: 40px;
padding: 10px 30px 10px 30px;
*/

div#section {
    position: relative;
}

div#section #img01 {
    position: absolute;
    top: 50px;
    left: 13.5%;
}

div#section #img02 {
    position: absolute;
    max-width: 100%;
    top: 50px;
    left: 39.5%;
}

div#section #img03 {
    position: absolute;
    top: 50px;
    left: 65.5%;
}

div#section img:hover {
    border: 1px solid black;
    left: -1px;
}

.img870px-c {

    left: 10%;
}

@media (max-width: 1300px) {

    div#section #img01 {
        left: 5%;
    }
    
    div#section #img02 {
        left: 36%;
    }
    
    div#section #img03 {
        left: 67%;
    }
}


/* APAGAR DEPOIS  */
@media (max-width: 1080px) {

    div#section #img01 {
        left: 5%;
    }
    
    div#section #img02 {
        left: 36%;
    }
    
    div#section #img03 {
        left: 67%;
    }
}
