@charset "UTF-8";

main {
    color: black;
}



/* ---------- MENU ---------- */
div#menu {
    background-color: rgba(211, 211, 211, 0.423);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px 20px 10px;
}

div#menu > ul > li > a {
    color: black;
    text-decoration: none;
}

#menu > ul {
    display: block;
    text-align: center;
    padding: 0px;
}

#menu > ul > li {
    display: inline-block;
    color: black;
    padding-left: 20px;
    margin-left: 0px;
    position: relative;
}

#menu > ul > li::before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;

    width: 110%;
    height: 1px;
    background-color: black;
}

#menu > ul > li::after {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;

    width: 110%;
    height: 1.5px;
    background-color: white;

    transform: scale(0);
    transform-origin: right;
    transition: transform 0.5s;
}

#menu > ul > li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;

    width: 110%;
    height: 1.5px;
    background-color: white;

    transform: scale(1);
    transform-origin: left;
    transition: transform 0.5s;
} 

/* Imagem Principal */
div#face {
    background-color: rgba(211, 211, 211, 0.423);
    padding-top: 10px;
}

div#face {
    padding: 20px;
    margin-bottom: 50px;
}

div#face img, div#face picture {
    display: block;
    margin: auto;
    max-width: 90%;
}

/*  
padding: 40px;
padding: 10px 30px 10px 30px;
*/

div#section {
    position: relative;
    height: 580px;
}

div#section #img01 {
    display: inline-flex;
    margin-left: 27%;
    
}

div#section #img02 {
    display: inline-flex;
    margin-left: 100px;
    
}

div#section img:hover {
    border: 1px solid black;
    left: -1px;
    opacity: 0.79;
}

#info-img01, #info-img02, #info-img03 {
    display: none;
}

#img01:hover #info-img01 {
    display: block;
    position: absolute;
    top: 490px
}

#img02:hover #info-img02 {
    display: inline-block;
    position: absolute;
    top: 490px;
}

@media (max-width: 1300px) {

    div#section #img01 {
        display: block;
        text-align: center;
    }
    
    div#section #img02 {
        
    }
}

@media (max-width: 800px) {
    div#face {
        max-width: 110%;
    }

    div#section {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    div#section #img01 {
        position: static;
    }
    
    div#section #img02 {
        position: static;
    }

    a.divisor-img01 {
        margin-right: 5%;
    }
}

@media (max-width: 700px) {
    div#section {
        display: flex;
        justify-content: center;
    }

    div#section #img01 {
        position: static;
    }
    
    div#section #img02 {
        position: static;
    }

    a.divisor-img01 {
        margin-right: 3%;
    }
}

@media (max-width: 501px) {
    div#face img {
        padding-top: 30px;
    }
}